.vscode/**
.vscode-test/**
.github/**
**/node_modules/**
extension/src/**
language-server/src/**
language-server/pegjs/*.pegjs
extension/out/**
language-server/out/**
extension/node_modules/**
language-server/node_modules/**
node_modules/**
**/*.ts
**/*.d.ts
**/*.map
**/*.tsbuildinfo
**/tsconfig*.json
**/.DS_Store
**/*.log
npm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json
*.vsix
.gitignore
vsc-extension-quickstart.md
